
Django==3.2.23
django-shortuuidfield==0.1.3
gunicorn==21.2.0
pip==24.0
whitenoise==6.2.0
psycopg2==2.9.7
Pillow==9.4.0
pytz==2022.7
resend==0.6.0
django-pipeline== 2.1.0
cloudinary==1.39.0
django-taggit==4.0.0
django-ckeditor==6.7.0
opencv-python==4.10.0.84
numpy==1.26.4
django-cloudinary-storage==0.3.0