{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <meta name="keywords" content="automobiles, real estate, rentage, building materials, furniture, household fittings, Martmes Ltd">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="application-name" content="MartmesLtd"/>
    <meta name="apple-mobile-web-app-title" content="MartmesLtd"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="msapplication-navbutton-color" content="#ffffff"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <title>{% block title %}{% endblock title %}</title>
    
    <!-- Canonical Tag -->
   {% block canonical %}<link rel="canonical" href="https://www.martmesltd.com/">{% endblock canonical %} 
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Martmes Ltd - Your Source for Automobiles, Real Estate, Rentage, and More">
    <meta property="og:description" content="Explore a wide range of automobiles, real estate properties, rentage services, building materials, furniture, and household fittings at Martmes Ltd.">
    <meta property="og:image" content="https://www.martmesltd.com/static/assets/imgs/martmes-logo-removebg-preview-2.png">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@martmesltd">
    <meta name="twitter:title" content="Martmes Ltd - Your Source for Automobiles, Real Estate, Rentage, and More">
    <meta name="twitter:description" content="Explore a wide range of products and services related to automobiles, real estate, rentage, building materials, furniture, and household fittings at Martmes Ltd.">
    <meta name="twitter:image" content="https://www.martmesltd.com/images/logo.png">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/imgs/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/imgs/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/imgs/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/imgs/favicon-16x16.png" %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/imgs/favicon.ico" %}">
    <link href="{% static "assets/css/stylee209.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.14.0/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.14.0/cdn/shoelace-autoloader.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.lordicon.com/lordicon.js"></script>

  </head>
  <body>
  <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="page-loading">
            <div class="page-loading-inner">
              <div class="scaling-dots">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="header sticky-bar header-style-3" id="header-navbar">
      <div class="container">
        <div class="main-header">
          <div class="header-logo"> 
            <a class='d-flex' href='/'>
              <img alt="luxride" src="{% static 'assets/imgs/martmes-logo-removebg-preview.png' %}"  id="big-hidden" height="30">
              <img alt="luxride" src="{% static 'assets/imgs/martmes-logo-removebg-preview-3.png' %}"  id="small-hidden" height="30">
            </a>
          </div>
          <div class="header-menu"> 
            <div class="header-nav">
              <nav class="nav-main-menu d-none d-xl-block">
                <ul class="main-menu">
                  <li class="has-mega-menu"><a class="active" href="/" style="font-weight: 500;">Home</a>
                   
                  </li>
              
                  <li class="has-children"><a href="#"  class="fw-medium">Categories</a>
                    <ul class="sub-menu rounded-sub-menu sub-menu-enlarged">
                      <li><a href='{% url "core:categories"  %}' style="font-size: 15px;">All Categories</a></li>
                      {% for c in categories %}
                     
                      <li><a href='{% url "core:category-product-list" c.cid %}' style="font-size: 15px;">{{c.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="has-children"><a href="#"  class="fw-medium">Company</a>
                    <ul class="sub-menu rounded-sub-menu sub-menu-enlarged">
                
                      <li><a href='{% url "core:about"  %}' style="font-size: 15px;">About Us</a></li>
                      <li><a href='{% url "core:faq"  %}' style="font-size: 15px;">FAQs</a></li>
                    
                      
                    </ul>
                  </li>
              
               
                  <li><a href='{% url "core:contact" %}'  class="fw-medium">Contact</a></li>
          
                </ul>
              </nav>
              <div class="burger-icon burger-icon-white" id="custom-margin"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
          </div>
          <div class="header-account">
            <a class="account-icon search" style="cursor: pointer;">
              <svg class="d-inline-flex align-items-center justify-content-center " id="searchiconmartmes" width="28" height="28" viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_91_73)">
                  <path d="M20.031 18.617L24.314 22.899L22.899 24.314L18.617 20.031C17.0237 21.3082 15.042 22.0029 13 22C8.032 22 4 17.968 4 13C4 8.032 8.032 4 13 4C17.968 4 22 8.032 22 13C22.0029 15.042 21.3082 17.0237 20.031 18.617ZM18.025 17.875C19.2941 16.5699 20.0029 14.8204 20 13C20 9.132 16.867 6 13 6C9.132 6 6 9.132 6 13C6 16.867 9.132 20 13 20C14.8204 20.0029 16.5699 19.2941 17.875 18.025L18.025 17.875Z" ></path>
                </g>
                <defs>
                  <clippath id="clip0_91_73">
                    <rect width="24" height="24" fill="white" transform="translate(2 2)"></rect>
                  </clippath>
                </defs>
              </svg>
            </a>

            
            {% if request.user.is_authenticated %}
            <li class="d-none d-md-inline-block ms-3 dropdown" id="barbify-dropdown-icon">
              <a href="dashboard/add-property.html" class=" "  href="#" role="button" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false"><span >
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="5" y1="7" x2="19" y2="7" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line>
                <line x1="5" y1="12" x2="19" y2="12" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line>
                <line x1="5" y1="17" x2="19" y2="17" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></line></svg><i class="fa-solid fa-{{request.user.full_name|first|lower}}  blacken-text-icon" style="font-size: 9px;" ></i></span>   </a>
                <ul class="dropdown-menu drop-down-elem-1-barbify">
                
                <li >
                
                </li>
                
                <a href="{% url "core:account_settings" %}"  class="dropdown-item Tyhj-iophfj mb-5"><span>Account</span></a>
              
               
              
                <a href="{% url "core:notifications" %}" class="dropdown-item Tyhj-iophfj mb-5"><span>Notifications</span></a>
               <a href="{% url "core:view_wishlist" %}" class="dropdown-item Tyhj-iophfj mb-5"><span>Wishlist</span></a>
                <a href="{% url "userauths:logout" %}" class="dropdown-item Tyhj-iophfj mb-5"><span>Log out</span></a>
                </ul>
            </li>
            {% else %}
            <div class="d-inline-flex align-items-center justify-content-center">
              <a  title="" style="border-radius: 20px; cursor: pointer;" class="btn btn-primary px-3 py-2 account-icon account">Sign in</a>
            </div>
            {% endif %}
       
              
            </div>
        </div>
      </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
      <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
        {% if not request.user.is_authenticated %}
          <div class="mobile-menu-head">
            <div class="box-head-1"><a class="link-underline mr-20 account-icon account" href="#">Login</a><a class="link-underline account-icon account" href="#">Sign Up</a><a class="close-mobile" href="#"><img src="{% static 'assets/imgs/template/icons/close.svg' %}" alt="close"></a></div>
            <div class="box-head-2"><a class="back-mobile" href="#"><img src="{% static 'assets/imgs/template/icons/back.svg' %}" alt="Martmesltd"></a></div>
          </div>
          {% else %}
          <div class="mobile-menu-head">
            <div class="box-head-1"><a class="link-underline mr-20 account-icon account" href="#">Welcome {{request.user.full_name|truncatechars:"10"|capfirst}}</a><a class="close-mobile" href="#"><img src="{% static 'assets/imgs/template/icons/close.svg' %}" alt="MartmesLtd"></a></div>
            <div class="box-head-2"><a class="back-mobile" href="#"><img src="{% static 'assets/imgs/template/icons/back.svg' %}" alt="Martmesltd"></a></div>
          </div>
          <div class="mobile-menu-head">
            <div class="box-head-2"><a class="back-mobile" href="#"><img src="{% static 'assets/imgs/template/icons/back.svg' %}" alt="Martmesltd"></a></div>
          </div>
          {% endif %}
          <div class="perfect-scroll">
            <div class="mobile-menu-wrap mobile-header-border">
              <nav>
                <ul class="mobile-menu font-heading">
                  <li class="has-children"><a class="active" href="/">Home</a>
                
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="has-children"><a>Account</a>
                    <ul class="sub-menu">
                      <li><a href='{% url "core:account_settings" %}'>Account Settings</a></li>
                      <li><a href='{% url "core:notifications" %}'>Notifications</a></li>
                      <li><a href='{% url "core:view_wishlist" %}'>Wishlist</a></li>
                      <li><a href='{% url "core:chat_page" %}'>Chats</a></li>
                      <li><a href='{% url "core:contact" %}'>Help Center</a></li>
                     
                    </ul>
                  </li>
                  {% endif %}
                  <li class="has-children"><a style="cursor: pointer;">Categories</a>
                    <ul class="sub-menu">
                      <li><a href='{% url "core:categories"  %}' style="font-size: 15px;">All Categories</a></li>
                      {% for c in categories %}
                      <li><a href='{% url "core:category-product-list" c.cid %}'>{{c.title}}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="has-children"><a href="service-grid.html">Company</a>
                    <ul class="sub-menu">
                      <li><a href='{% url "core:about" %}'>About Us</a></li>
                      <li><a href='{% url "core:faq" %}'>Help & FAQs</a></li>
                      <li><a href='{% url "core:contact" %}'>Contact Us</a></li>

                    </ul>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="has-children"><a class="active" href="{% url "userauths:logout" %}">Logout</a>
                
                  </li>
                  {% endif %}

                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block content %}
    
    {% endblock content %}
    <footer class="footer">
        <div class="footer-1">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 mb-30">
                <h5 class="color-white mb-20">Subscribe to our Newsletter</h5>
                <div class="box-form-subscribe box-form-subscribe-white">
                  <form class="form-sub" action="#" method="POST">
                    {% csrf_token %}
                    <input class="form-control" type="text" placeholder="Enter your email">
                    <input class="btn btn-subscribe" type="submit" value="Subscribe">
                  </form>
                </div>
              </div>
              <div class="col-lg-8 mb-30">
                <div class="row">
                  <div class="col-lg-3 mb-40 footerBorder">
                    <h6 class="color-white mb-20">Company</h6>
                    <ul class="menu-footer">
                      <li><a href='{% url "core:about" %}'>About us</a></li>
                      <li><a href='{% url "core:contact" %}'>Contact Us</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 mb-40 footerBorder">
                    <h6 class="color-white mb-20">Customer Care</h6>
                    <ul class="menu-footer">
                      <li><a href="{% url "core:contact" %}">Help Center</a></li>
                      <li><a href="{% url "core:faq" %}">FAQs</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 mb-40 footerBorder">
                    <h6 class="color-white mb-20">Terms & Policies</h6>
                    <ul class="menu-footer">
                      <li><a href="{% url "core:privacy" %}">Privacy Policy</a></li>
                      <li><a href="{% url "core:terms" %}">Terms Of Use</a></li>
                    </ul>
                  </div>
               
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-2">
          <div class="container">
            <div class="footer-bottom">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><img class="mr-25 d-inline-block align-middle logo-footer-img" src="{% static 'assets/imgs/martmes-logo-removebg-preview.png' %}" height="20" alt="MartmesLtd"><span class="body-p1 color-white d-inline-block align-middle">© 2024 MartmesLtd All rights reserved</span></div>
                <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
                  <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                    <div class="d-inline-block box-payments mr-20"><img src="{% static 'assets/imgs/template/icons/visa.svg' %}" alt="MartmesLtd"><img src="{% static 'assets/imgs/template/icons/master.svg' %}" alt="MartmesLtd"><img src="{% static 'assets/imgs/template/icons/stripe.svg' %}" alt="Martmes"><img src="{% static 'assets/imgs/template/icons/paypal.svg' %}" alt="Martmes"></div>
                    {% comment %} <div class="dropdown mr-20">
                      <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button" data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                        <li><a class="dropdown-item" href="#">EN</a></li>
                        <li><a class="dropdown-item" href="#">JP</a></li>
                        <li><a class="dropdown-item" href="#">KR</a></li>
                      </ul>
                    </div> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <div class="box-popup-preview"><a class="btn-close-popup" href="#"><img src="{% static 'assets/imgs/template/icons/close-popup.svg' %}" alt="kidify"></a>
        <div class="box-popup-content">
          <div class="preview-product-image">
            <div class="detail-gallery detail-gallery-2">
              <div class="box-main-gallery">
                <div class="product-image-slider product-image-slider-preview">
                  <figure class="border-radius-10"><a class="glightbox" href="assets/imgs/page/product/img.png"><img src="{% static 'assets/imgs/page/product/img.png' %}" alt="martmesltd"></a></figure>
                  <figure class="border-radius-10"><a class="glightbox" href="assets/imgs/page/product/img.png"><img src="{% static 'assets/imgs/page/product/img.png' %}" alt="martmesltd"></a></figure>
                  <figure class="border-radius-10"><a class="glightbox" href="assets/imgs/page/product/img.png"><img src="{% static 'assets/imgs/page/product/img.png' %}" alt="martmesltd"></a></figure>
                  <figure class="border-radius-10"><a class="glightbox" href="assets/imgs/page/product/img.png"><img src="{% static 'assets/imgs/page/product/img.png' %}" alt="martmesltd"></a></figure>
                  <figure class="border-radius-10"><a class="glightbox" href="assets/imgs/page/product/img.png"><img src="{% static 'assets/imgs/page/product/img.png' %}" alt="martmesltd"></a></figure>
                  <figure class="border-radius-10"><a class="glightbox" href="assets/imgs/page/product/img.png"><img src="{% static 'assets/imgs/page/product/img.png' %}" alt="martmesltd"></a></figure>
                  <figure class="border-radius-10"><a class="glightbox" href="assets/imgs/page/product/img.png"><img src="{% static 'assets/imgs/page/product/img.png' %}" alt="martmesltd"></a></figure>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
  
 
      
      </body>
      </html>
      <div class="box-popup-search ele-popup-search">
        <div class="box-search-overlay"></div>
        <div class="box-search-wrapper"><a class="btn-close-popup" href="#">
            <svg class="icon-16 d-inline-flex align-items-center justify-content-center" fill="#111111" stroke="#111111" width="24" height="24" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg></a>
          <h5 class="mb-15">Search products</h5>
          <form method="GET" action="{% url 'core:search' %}">
            <div class="form-group">
              <select name="category" class="form-control arrow-select">
                <option value="">All Categories</option>
                {% for c in categories %}
                <option value="{{c.title}}">{{c.title}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <input name="q" class="form-control search-icon" type="text">
            </div>
          </form>
          
          
          <div class="box-products-search mt-20">
            {% if recommended_products %}
            <h6 class="text-18-medium mb-10">You May Also Like</h6>
            <div class="box-list-product-search">
              {% for product in recommended_products %}
              <div class="item-product-search">
                <div class="cardProductStyle3 cardProductType03 cardProductType02 wow fadeInUp rounded-2">
                  <div class="cardImage"><a href="{% url "core:listing-detail" product.pid %}"><img class="imageMain rounded-2" src="{{product.image.url}}" height="160" alt="{{product.title}}"><img class="imageHover rounded-2" src="{{product.image2.url}}" alt="{{product.title}}"></a>
                    <div class="button-select"><a href="{% url "core:listing-detail" product.pid %}">Select Options</a></div>
                   
                  </div>
                  <div class="cardInfo">
                    <h6 class="text-16-medium">{{product.title}}</h6>
                    <p class="body-p2 cardDesc">₦{{product.price|floatformat:0|intcomma}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>
            {% else %}
            
            <div class="box-list-product-search">
              {% for c in categories %}
              <div class="item-product-search">
                <div class="cardProductStyle3 cardProductType03 cardProductType02 wow fadeInUp">
                  <div class="cardImage"><a href="{% url "core:category-product-list" c.cid %}"><img  src="{{c.image.url}}" alt="{{c.title}}"></a>
                  </div>
                  <div class="cardInfo">
                    <h6 class="text-16-medium">{{c.title}}</h6>
                 
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
           
            {% endif %}
          </div>
        </div>
      </div>
      <div class="box-popup-account">
        <div class="box-account-overlay"></div>
        <div class="box-account-wrapper rounded-3"><a class="btn-close-popup btn-close-popup-account" href="#">
          
            <svg class="icon-16 d-inline-flex align-items-center justify-content-center hover-dark" fill="#111111" stroke="#111111" width="30" height="30" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg></a>
            
          <div class="form-account-info">
          
            <div style="align-items: center; display: flex; justify-content: center;">
            <a class="button-tab btn-for-login active" href="#">Login</a><a class="button-tab btn-for-signup" href="#">Sign up</a>
            </div>
            
           
            <form method="POST" id="loginForm">
              <p id="LoginErrorMessage" class="text-danger pt-2"></p>
              {% csrf_token %}
              <div class="form-login">
                <div class="form-group">
                  <input class="form-control" name="email" type="text" placeholder="Email">
                </div>
                <div class="form-group">
                  <input class="form-control" name="password" type="password" placeholder="Password">
                </div>
                <div class="form-group"><a class="link-under buttun-forgotpass fw-500" style="text-decoration: none; font-size: 14px;" href="#">Forgot your password?</a></div>
                <div class="form-group">
                  <button class="btn btn-black d-block" id="loginBtn">Login</button>
                </div>
                
              </div>
            </form>

            <form method="POST" id="registerForm">
              <p id="SignUpErrorMessage" class="text-danger pt-2"></p>
              {% csrf_token %}
              <div class="form-register">
                <div class="form-group disForm">
                  <input class="form-control" type="text" name="full_name" placeholder="Full Name" required>
                </div>
               
                <div class="form-group disForm" >
                  <input class="form-control" type="tel" pattern="0\d{10}" maxlength="11" name="phone_number" placeholder="Phone Number (digits only)">
                </div>
                <div class="form-group disForm">
                  <input class="form-control" type="text" name="email" placeholder="Email" required>
                  <span id="email_error"></span>
                </div>
                <div class="form-group disForm">
                  <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
               
                <div class="form-group disForm" >
                  <button class="btn btn-black d-block" id="registerBtn" type="submit">Create my account</button>
                </div>
                {% comment %} <div class="text-center">
                  <p class="body-p2 neutral-medium-dark">Already have an account?<a class="neutral-dark login-now" href="#">Login Now</a></p>
                </div> {% endcomment %}
              </div>
            </form>

          </div>
          <form method="POST" id="ForgotPasswordForm">
            {% csrf_token %}
            <div class="form-password-info">
              <h5>Recover password</h5>
              
              <p class="pt-3 dissapear-content">Include the email address associated with your account.</p>
              <p id="ForgotPasswordErrorMessage" class="text-danger pt-2"></p>
              <div class="form-login">
                <div class="form-group dissapear-content" id="passwordMessage">
                  <input class="form-control" name="email" type="email" placeholder="Enter your email">
                </div>
                <div class="form-group dissapear-content" id="passwordCheckmark">
                  <button class="btn btn-black d-block" type="submit" id="ForgotPasswordBtn">Recover</button>
                </div>
                <div class="text-center dissapear-content">
                  <p class="body-p2 neutral-medium-dark" style="font-size: 14px;">Already have an account? <a class="neutral-dark login-now" href="#">Login Now</a></p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>


      <script src="{% static 'assets/js/vendors/modernizr-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/jquery-3.7.0.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/jquery-migrate-3.3.0.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/waypoints.js' %}"></script>
      <script src="{% static 'assets/js/vendors/wow.js' %}"></script>
      <script src="{% static 'assets/js/vendors/magnific-popup.js' %}"></script>
      <script src="{% static 'assets/js/vendors/perfect-scrollbar.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/isotope.js' %}"></script>
      <script src="{% static 'assets/js/vendors/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/counterup.js' %}"></script>
      <script src="{% static 'assets/js/vendors/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/slick.js' %}"></script>
      <script src="{% static 'assets/js/vendors/jquery.timepicker.min.js' %}"></script>
      <script src="{% static 'assets/js/vendors/glightbox.min.js' %}"></script>
      <script src="{% static 'assets/js/maine209.js' %}" ></script>
      <script src="{% static 'assets/js/ajax.js' %}" ></script>
      
    </body>
  </html>