{% extends "partials/index-base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var headerNavbar = document.getElementById('header-navbar');
    var threshold = 50; // Adjust this value as needed
  
    function updateNavbarBackground() {
      if (window.scrollY <= threshold) {
        headerNavbar.classList.remove('header-style-3');
        headerNavbar.classList.add('transparent-navbar');
        
      } else {
        headerNavbar.classList.remove('transparent-navbar');
        headerNavbar.classList.add('header-style-3');
      }
    }
  
    updateNavbarBackground();
  
    window.addEventListener('scroll', function() {
      updateNavbarBackground();
    });
  });
  
</script>
    <main class="main">
      <section class="section block-banner-about-1">
        <div class="container"> 
          <div class="text-center box-info-banner wow fadeIn">
            <h1>Believe in Craftsmanship <br class="d-none d-lg-block">and Luxurious Design</h1>
          </div>
        </div>
      </section>
      <section class="section block-our-shop">
        <div class="container"> 
          <div class="text-center wow fadeInLeft"> 
            <p class="text-17-medium text-uppercase mb-15 primary-navy">Martmes Resources Ltd</p>
            <h3 class="mb-15">
              Prioritizing Quality Components <br class="d-none d-lg-block">and Exceptional Design</h3>
            <div class="box-slide-customers">
              {% comment %} <p class="body-p2 neutral-medium-dark"> </p> {% endcomment %}
            </div>
          </div>
          <div class="row mt-60 wow fadeInUp"> 
            <div class="col-lg-6"><img src="{% static 'assets/imgs/page/about1/about1.png' %}" alt="MartmesLtd"></div>
            <div class="col-lg-6"><img src="{% static 'assets/imgs/page/about1/about2.png' %}" alt="MartmesLtd"></div>
          </div>
        </div>
      </section>
      <section class="section block-icon-box"> 
        <div class="container"> 
          <div class="text-center fadeIn"> 
           
            <h3 class="mb-65">Why Martmes Resources</h3>
          </div>
          <div class="row"> 
            <div class="col-lg-4 hasborder"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img src="{% static 'assets/imgs/page/homepage3/ship.svg' %}" alt="Martmes"></div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Fast and Reliable</h6>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 hasborder"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img src="{% static 'assets/imgs/page/homepage7/clothes.svg' %}" alt="Martmes"></div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Registered Company</h6>
            
                </div>
              </div>
            </div>
            <div class="col-lg-4"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img src="{% static 'assets/imgs/page/homepage3/payment.svg' %}" alt="Martmes"></div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Secure Payment</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section block-testimonials">
        <div class="container"> 
          <div class="text-center wow fadeInUp">
            <p class="text-17-medium text-uppercase mb-15 primary-navy">WHAT BUYERS SAY</p>
            <h3 class="neutral-dark mb-40">Customers Reviews</h3>
          </div>
          <div class="box-slide-customers wow fadeInUp wow fadeInUp">
            <div class="box-swiper"> 
              <div class="swiper-container swiper-banner">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <p class="text-italic-28 mb-30">“ Martmesltd made buying our dream home a breeze. Thanks to them.”</p>
                    <p class="text-16-medium">Sarah Adeyemi</p>
                  </div>
                  <div class="swiper-slide">
                    <p class="text-italic-28 mb-30">“ Martmesltd went above and beyond to help me find the perfect car.”</p>
                    <p class="text-16-medium">Chukwudi Okoro</p>
                  </div>
                  <div class="swiper-slide">
                    <p class="text-italic-28 mb-30">“  Martmesltd has been our trusted partner for all our household needs, from rentals to building materials.”</p>
                    <p class="text-16-medium">Ifeoma and Emeka Nwankwo</p>
                  </div>
                </div>
                <div class="box-pagination-button">
                  <div class="swiper-pagination swiper-pagination-banner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section block-icon-box" style="margin-top: 80px;"> 
        <div class="container"> 
          <div class="text-center"> 
            <h1 class="mb-20 wow fw-semibold flash" id="reduceText" style="font-size: 19px; line-height: 40px;">We specialize on Automobiles, Real Estate, Furniture, Fittings<br> & Building Materials</h1>
            <p class="overline-t2-medium text-primary text-center mb-55" style="color: #54438d !important;">Our Benefits</p>
          </div>
          
          <div class="row wow zoomIn"> 
            
            <div class="col-lg-4 hasborder"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img width="70" height="70" src="https://img.icons8.com/3d-fluency/94/handshake--v1.png" alt="handshake--v1"/></div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Reliability</h6>
                  <p class="body-p2">Consistently dependable across automobiles, real estate, and more</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 hasborder"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img width="70" height="70" src="https://img.icons8.com/3d-fluency/94/best-seller.png" alt="best-seller"/></div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Quality</h6>
                  <p class="body-p2">Setting the standard for excellence in every aspect we offer</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4"> 
              <div class="cardIcon wow fadeInUp">
                <div class="cardImage"><img width="70" height="70" class="mb-4" src="https://img.icons8.com/3d-fluency/94/thumb-up--v1.png" alt="thumb-up--v1"/><div>
                <div class="cardInfo">
                  <h6 class="cardTitle">Convenience</h6>
                  <p class="body-p2">Streamlining accessibility for all your automotive, real estate needs</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
 {% endblock content %}