{% extends "partials/index-base.html" %}

{% load static %}
{% load humanize %}
{% block title %}FAQs - MartmesLtd{% endblock title %}
{% block canonical %}<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">{% endblock canonical %} 
{% block content %}
    <main class="main">
      <section class="section banner-500">
        <div class="box-cover-image wow fadeInUp"></div>
        <div class="box-banner-info wow bounceIn"> 
          <p class="overline-t2-medium text-uppercase primary-navy mb-10">FAQ’S</p>
          <h2 class="color-primary-dark mb-30">Any questions?<br class="d-none d-lg-block">We’re here to help</h2>
        </div>
      </section>
      <section class="section block-content-faq">
        <div class="container">
          <div class="container-faq">
            
              
              
          
            <h4 class="mb-20">How to Choose a Product</h4>
            <div class="accordion wow fadeInUp mb-60" id="accordionFAQ3">
              <div class="accordion-item">
                <h5 class="accordion-header" id="headingOne3">
                  <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">How do I choose the right product?</button>
                </h5>
                <div class="accordion-collapse collapse" id="collapseOne3" aria-labelledby="headingOne3" data-bs-parent="#accordionFAQ3">
                  <div class="accordion-body">Our website provides detailed product descriptions and specifications to help you make an informed decision. If you need further assistance, feel free to contact our customer support team.</div>
                </div>
              </div>
              <div class="accordion-item">
                <h5 class="accordion-header" id="headingTwo3">
                  <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo3">Can I get assistance in choosing a product?</button>
                </h5>
                <div class="accordion-collapse collapse" id="collapseTwo3" aria-labelledby="headingTwo3" data-bs-parent="#accordionFAQ3">
                  <div class="accordion-body">Our team is here to assist you in choosing the right product for your needs. Contact us, and we will be happy to provide personalized recommendations based on your preferences and requirements.</div>
                </div>
              </div>
            </div>
            <h4 class="mb-20">Product Information</h4>
<div class="accordion wow fadeInUp mb-60" id="accordionFAQ4">
  <div class="accordion-item">
    <h5 class="accordion-header" id="headingOne4">
      <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">Where can I find product specifications?</button>
    </h5>
    <div class="accordion-collapse collapse" id="collapseOne4" aria-labelledby="headingOne4" data-bs-parent="#accordionFAQ4">
      <div class="accordion-body">You can find detailed product specifications on the product pages of our website. Each product listing includes information about dimensions, materials, features, and more.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h5 class="accordion-header" id="headingTwo4">
      <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">Are product images accurate representations?</button>
    </h5>
    <div class="accordion-collapse collapse" id="collapseTwo4" aria-labelledby="headingTwo4" data-bs-parent="#accordionFAQ4">
      <div class="accordion-body">Yes, we strive to provide accurate and high-quality images of our products. However, please note that colors may appear slightly different in person due to variations in display settings.</div>
    </div>
  </div>
</div>

<h4 class="mb-20">Order Information</h4>
<div class="accordion wow fadeInUp mb-60" id="accordionFAQ5">
  
  <div class="accordion-item">
    <h5 class="accordion-header" id="headingTwo5">
      <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5">Can I change or cancel my order?</button>
    </h5>
    <div class="accordion-collapse collapse" id="collapseTwo5" aria-labelledby="headingTwo5" data-bs-parent="#accordionFAQ5">
      <div class="accordion-body">Once an order has been placed, it cannot be changed or canceled. Please review your order carefully before completing the purchase.</div>
    </div>
  </div>
</div>

            <div class="mt-10 text-center"> 
              <p class="text-17-medium mb-25 neutral-medium-dark">Do you have a question not covered in the FAQ?</p><a class="btn btn-black" href="{% url "core:contact" %}">Contact Us</a>
            </div>
          </div>
        </div>
      </section>
      
    </main>
 {% endblock content %} 