{% extends "partials/index-base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Terms of use - MartmesLtd{% endblock title %}
{% block canonical %}<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{{ request.get_full_path }}">{% endblock canonical %} 
{% block content %}
    <main class="main">
      <section class="section block-head"> 
        <div class="container"> 
          <div class="text-center wow fadeInUp"> 
            <style>
                body {
                    font-family: 'Poppins', sans-serif;
                }
                h1, h2, h3 {
                    text-align: left;
                }
                p, ul {
                    text-align: left;
                    margin-bottom: 23px;
                }
            </style>
    <h1>Terms of Use</h1>
    <p>Welcome to Martmes Resources LTD. These terms and conditions outline the rules and regulations for the use of Martmes Resources LTD's Website and services.</p>
    <p>By accessing this website and availing our services, we assume you accept these terms and conditions in full. Do not continue to use Martmes Resources LTD's website if you do not accept all of the terms and conditions stated on this page.</p>

    <h2>1. License to Use</h2>
    <p>Unless otherwise stated, Martmes Resources LTD and/or its licensors own the intellectual property rights for all material on Martmes Resources LTD. All intellectual property rights are reserved. You may access this from Martmes Resources LTD for your own personal use subjected to restrictions set in these terms and conditions.</p>

    <h2>2. Restrictions</h2>
    <p>You must not:</p>
    <ul>
        <li>Republish material from Martmes Resources LTD</li>
        <li>Sell, rent or sub-license material from Martmes Resources LTD</li>
        <li>Reproduce, duplicate or copy material from Martmes Resources LTD</li>
        <li>Redistribute content from Martmes Resources LTD</li>
    </ul>

    <h2>3. Disclaimer</h2>
    <p>The materials on Martmes Resources LTD's website are provided on an 'as is' basis. Martmes Resources LTD makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</p>

    <h2>4. Limitations</h2>
    <p>In no event shall Martmes Resources LTD or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Martmes Resources LTD's website, even if Martmes Resources LTD or a Martmes Resources LTD authorized representative has been notified orally or in writing of the possibility of such damage.</p>

    <h2>5. Quality and Accuracy of Materials</h2>
<p>We guarantee that all our products are carefully inspected and shipped with the utmost care to ensure they reach you in excellent condition. However, Martmes Resources LTD does not warrant that any materials on its website are without flaws. We reserve the right to make changes to product descriptions, specifications, and prices without prior notice, as we continuously strive to enhance the overall customer experience.</p>


    <h2>6. Governing Law</h2>
    <p>These terms and conditions are governed by and construed in accordance with the laws of Nigeria and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>

    <h2>7. Contact Information</h2>
    <p>If you have any questions or concerns regarding our Terms of Use, you may contact us using the following information:</p>
    <p>Email: hello@martmesltd.com</p>
    <p>Please feel free to reach out to us if you require further clarification or assistance.</p>

    <p>By using our website and services, you hereby consent to our Terms of Use and agree to abide by them.</p>

    <p>If you have any questions about our Terms of Use, please contact us at hello@martmesltd.com.</p>

    <p>Last updated: March 27, 2024</p>
</div>
</div>
</section>
</main>
{% endblock content %}