{% load static %}
<!DOCTYPE html>
<html lang="en">
  

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="author" content="Martmesltd">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "assets/imgs/favicon.ico" %}">
    <link href="{% static 'assets/css/stylee209.css' %}" rel="stylesheet">
    <title>Email has been confirmed | Martmesltd</title>
  </head>
  <body>
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="page-loading">
            <div class="page-loading-inner">
              <div class="scaling-dots">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header class="header sticky-bar header-style-3">
      <div class="container">
        <div class="main-header">
          <div class="header-logo"> <a class='d-flex' href='/'><img alt="luxride" src="{% static 'assets/imgs/martmes-logo-removebg-preview.png' %}" height="30"></a></div>
          
      </div>
    </header>

    <main class="main">
      <section class="section banner-500">
        <div class="box-cover-image wow fadeInUp" style=" height: 100vh;"></div>
        <div class="box-banner-info"> 
            
            <lord-icon
                src="https://cdn.lordicon.com/guqkthkk.json"
                trigger="in"
                delay="700"
                state="in-reveal"
                colors="primary:#3080e8"
                style="width:250px;height:180px;">
            </lord-icon>
          <h5 class="color-primary-dark mb-30">Your email address has been successfully verified.<br class="d-none d-lg-block"> </h5>
          <div class="text-center mt-10"> <a class="btn btn-black" href="/">Home</a></div>
        </div>
      </section>


    </main>
    <footer class="footer " >

      <div class="footer-2" >
        <div class="container">
          <div class="footer-bottom">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12 text-center text-lg-start mb-20"><img class="mr-25 d-inline-block align-middle logo-footer-img" src="{% static 'assets/imgs/martmes-logo-removebg-preview.png' %}" height="100" alt="MartmesLtd"><span class="body-p1 color-white d-inline-block align-middle">© 2023 Martmes.Co. All rights reserved</span></div>
              <div class="col-lg-6 col-md-12 text-center text-lg-end mb-20">
                <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
                  <div class="d-inline-block box-payments mr-20"><img src="{% static 'assets/imgs/template/icons/visa.svg' %}" alt="Martmes"><img src="{% static 'assets/imgs/template/icons/master.svg' %}" alt="Martmes"><img src="{% static 'assets/imgs/template/icons/stripe.svg' %}" alt="Martmes"><img src="{% static 'assets/imgs/template/icons/paypal.svg' %}" alt="Martmes"></div>
                  <div class="dropdown mr-20">
                    <button class="btn btn-line-bottom dropdown-toggle" id="dropdownLang" type="button" data-bs-toggle="dropdown" aria-expanded="false">EN</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownLang">
                      <li><a class="dropdown-item" href="#">EN</a></li>
                      <li><a class="dropdown-item" href="#">JP</a></li>
                      <li><a class="dropdown-item" href="#">KR</a></li>
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-line-bottom dropdown-toggle" id="dropdownCurrency" type="button" data-bs-toggle="dropdown" aria-expanded="false">USD</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownCurrency">
                      <li><a class="dropdown-item" href="#">USD</a></li>
                      <li><a class="dropdown-item" href="#">EURO</a></li>
                      <li><a class="dropdown-item" href="#">AUD</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>



    <script src="{% static 'assets/js/vendors/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/vendors/wow.js' %}"></script>
    <script src="{% static 'assets/js/vendors/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/maine209.js' %}"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
  </body>


</html>