{% extends "partials/index-base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Account Settings - MartmesLtd{% endblock title %}
{% block content %}
    <main class="main">
        <style>
            .header-text-martmesltd{
                font-size: 2rem !important;
                line-height: 2.25rem !important;
                font-weight: 600 !important;
                color: #222222 !important;
            }
            ._184uai1 {
                font-size: 1.125rem !important;
                line-height: 1.5rem !important;
                font-weight: 400 !important;
                color: #222222 !important;
                margin-top: 8px !important;
                margin-bottom: 16px !important;
            }
            .card{
                box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
                border: none !important;
            }
            
            a:hover, a:hover * {
                color: #222222;
            }
            .card-title{
                font-size: 1rem;
            }
            .card-text{
                font-size: 0.875rem;
                font-weight: 300;
                
            }
        </style>
        <div class="container mb-50 " style="padding-top: 50px !important;"> 
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-9">
                    <h1 class="header-text-martmesltd">Account</h1>
                    <h3 class="_184uai1"><span style="font-weight: 600;">{{request.user.full_name|capfirst}}</span>, <span style="font-weight: 300; font-size: 14px;">{{request.user.email}}</span></h3>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-3 mb-20 mb-sm-0">
                    <a id="linkBody" href="{% url "core:account_info" %}">
                        <div class="card">
                            <div class="card-body">
                                <svg width="36" height="36"  style="margin-bottom: 16px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.75988 19.8248C6.9173 17.5547 9.27709 16 12 16C14.7019 16 17.0462 17.5308 18.2131 19.7723M14.3333 10.4444C14.3333 11.7945 13.2389 12.8889 11.8889 12.8889C10.5389 12.8889 9.44444 11.7945 9.44444 10.4444C9.44444 9.09442 10.5389 8 11.8889 8C13.2389 8 14.3333 9.09442 14.3333 10.4444ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22Z" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            <h5 class="card-title">Account info</h5>
                            <p class="card-text">Provide personal details, it helps martmes reach you faster.</p>
                            
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 mb-20">
                    <a id="linkBody" href="{% url "core:update-password" %}">
                        <div class="card">
                            <div class="card-body">
                                <svg width="36" height="36"  style="margin-bottom: 16px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 13V4.22222L4.94372 4.07224C6.6371 3.94158 8.29889 3.54213 9.86666 2.88889L12 2L14.1333 2.88889C15.7011 3.54213 17.3629 3.94158 19.0563 4.07224L21 4.22222V13C21 17.9706 16.9706 22 12 22C7.02944 22 3 17.9706 3 13Z" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M8 12L10.5 14.5L16 9" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            <h5 class="card-title">Account security</h5>
                            <p class="card-text">Update your password and protect your account.</p>
                            
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 mb-20">
                    <a id="linkBody" href="{% url "core:chat_page" %}">
                        <div class="card">
                            <div class="card-body">
                                <svg width="36" height="36"  style="margin-bottom: 16px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 7H15" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7 11H11" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M19 3H5C3.89543 3 3 3.89543 3 5V15C3 16.1046 3.89543 17 5 17H8L11.6464 20.6464C11.8417 20.8417 12.1583 20.8417 12.3536 20.6464L16 17H19C20.1046 17 21 16.1046 21 15V5C21 3.89543 20.1046 3 19 3Z" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            <h5 class="card-title">Chats</h5>
                            <p class="card-text">Chats from your previous inquiries of listings.</p>
                            
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-3 mb-20">
                    <a id="linkBody" href="{% url "core:notifications" %}">
                        <div class="card">
                            <div class="card-body">
                                <svg width="36" height="36"  style="margin-bottom: 16px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.6 9.45798V8.4C5.6 4.86538 8.46538 2 12 2C15.5346 2 18.4 4.86537 18.4 8.4V9.45798C18.4 11.7583 19.0649 14.0096 20.3146 15.9409L21 17H3L3.68539 15.9408C4.93512 14.0096 5.6 11.7583 5.6 9.45798Z" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 20.8889V20.8889C11.5344 21.4827 12.4656 21.4827 13 20.8889V20.8889" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            <h5 class="card-title">Notifications</h5>
                            <p class="card-text">Get notified of MartmesLtd latest changes.</p>
                            
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 mb-20">
                    <a id="linkBody" href="{% url "core:view_wishlist" %}">
                        <div class="card">
                            <div class="card-body">
                                <svg width="36" height="36" style="margin-bottom: 16px;"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.4454 20.7608L3.57617 12.5663C1.35964 10.2582 1.49922 6.4736 3.87922 4.34929C6.24035 2.24181 9.82044 2.65105 11.6863 5.24171L12 5.67724L12.3137 5.24171C14.1796 2.65105 17.7596 2.24181 20.1208 4.34929C22.5008 6.4736 22.6404 10.2582 20.4238 12.5663L12.5546 20.7608C12.2483 21.0797 11.7517 21.0797 11.4454 20.7608Z" stroke="rgba(0,0,0,0.95)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                            <h5 class="card-title">Your wishlist</h5>
                            <p class="card-text">As you search, click the heart icon to save your favorite listings to a wishlist.</p>
                            
                            </div>
                        </div>
                    </a>
                </div>
               
              </div>
        </div>
    </main>
  {% endblock content %}